* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.logo{
    color: white;
}

.nav-list {
    margin: 0;
    padding: 0;
    list-style: none;
    background-color: grey;
    display: flex;
    gap: 1rem;
}

.nav-list li {
    
    background-color: pink;
    
    outline: 5px solid black;
}

.logo {
    margin-right: auto;
}