* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Pacifico', cursive;
    font-family: 'Roboto', sans-serif;
}

.nav-container {
    display: flex;
    justify-content: center;
    background-color: #1f2937;  
}

.logo{
    color: white;
}

.nav-list {
    margin: 0;
    width: 1500px;
    list-style: none;
    display: flex;
    gap: 3rem;
    height: 55px;
}

.nav-list li {
    align-self: center;
    color: white;
}

.logo-container {
    margin-right: auto;
}

.nav-link:link {
    color: #e5e7eb;
    text-decoration: none;
    font-size: 18px;
}

#logo {
    font-weight: bold;
    font-size: 24px;
}

#logo:link {
    color: #f9faf8;
}

.hero-container {
    background-color: #1f2937d8;
    height: 650px;
    margin: 0;
    justify-content: center;
    display: flex; 
}

.hero-container > * {
    width: 750px;  
}

.hero-text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hero-main-text {
    font-size: 80px;
    font-weight: bolder;
    color: #f9faf8;
}

.hero-sub-text {
    font-size: 28px;
    color: #e5e5e5;
}

#hero-btn {
    width: 160px;
    height: 40px;
    border-radius: 10px;
    margin-top: 10px;
    font-size: 20px;
    border: none;
    background: none;
    background-color: #3882f6;
    color: white;
}


.hero-img {
    height: 304px;
    align-self: center;
    display: flex;
}

.imgtext {
    text-align: center;
    margin: auto;
    line-height: 304px;
    background-color: #6d747d;
    width: 700px;
    height: 304px; 
    color: white;
    font-size: 20px;  
}

.info-header {
    text-align: center;
    font-size: 65px;
    font-weight: bold;
    padding: 60px 0;
}

.info {
    display: flex;
    width: 1500px;
    margin: auto;
    justify-content: center;
    padding-bottom: 196px;
    gap: 60px; 
}

.rectangle {
    height: 250px;
    width: 250px;
    outline: 4px solid #3882f6;
    margin: auto;
    border-radius: 10px;
}

.info-text {
    text-align: center;
    font-size: 24px;
    color: #1f2937;
    margin-top: 10px;
    width: 250px;
}

.inspo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 650px;
    font-size: 56px;
    font-style: italic;
    color: white;
    background-color: #1f2937d8 ;
}

.info-size {
    width: 1300px;
}

.inspo-container > * {
    width: 1300px;
}

.inspo-author {
    font-style: normal;
    color: white;
    text-align: right;
    width: auto;
    font-size: 42px;
    font-weight: bolder;
    
}

.cta-container {
    height: 500px;
    display: flex;
    justify-content: center;
    
}

.cta-card-container {
    align-self: center;
    width: 1536px;
    height: 222px;
    background-color: #3882f6;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 300px;
    border-radius: 10px;
    padding: 0 155px;
}

.cta,
.ctatext {
    font-size: 35px;
    color: white;
}
.ctatext {
    font-size: 25px;
}
.sign-up {
    font-size: 30px;
    padding: 10px 55px;
    border-radius: 10px;
    background-color: #3882f6;
    color: white;
    border: 3px solid white;
}

footer {
    text-align: center;
    height: 135px;
    line-height: 135px;
    color: white;
    background-color: #1f2937;
    font-size: 20px;
}
